<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <div th:insert="anonymous/template/menu :: libs"></div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
          integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <style>
        .link {
            font-size: 14px;
            color: #222;
            display: block;
        }

        .link:hover {
            color: #F7941D;
        }
    </style>
</head>
<body>
<div th:insert="anonymous/template/menu :: menu"></div>
<!-- End Header Area -->

<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h2>Đăng nhập</h2>
                    <ul class="bread-list">
                        <li><a href="../anonymous/index.html">Trang chủ</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li class="active">Đăng nhập</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Shop Login -->
<section class="login section">
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login-left" id="bg-login-left">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login-form">
                        <h2>Đăng nhập</h2>
                        <!-- Form -->
                        <div class="signin-form">
                            <form method="POST" class="register-form mb-2" id="login-form">
                                <div class="">
                                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                                    <input type="email" name="email" id="email" placeholder="Nhập email của bạn"
                                           class="w-100" style="height: 40px"/>
                                </div>
                                <div class="form-group">
                                    <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                    <input type="password" name="password" id="password" placeholder="Nhập mật khẩu"
                                           class="w-100" style="height: 40px"/>
                                </div>
                            </form>
                            <!--/ End Form -->
                            <div class="form-group login-btn">
                                <button class="btn w-100 py-2"  type="submit" id="signin">Đăng nhập</button>
                            </div>

                            <button class="link forgot-password-link py-2 w-50">Quên mật khẩu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Login -->

<!-- Footer Area -->
<footer id="footer" class="footer ">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>Về chúng tôi</h2>
                        <p>Mediplus là Hệ thống Y tế hàn lâm do Vingroup - Tập đoàn kinh tế tư nhân đa ngành tại Việt Nam đầu tư phát triển với sứ mệnh “Mang lại sự lựa chọn hoàn hảo về chăm sóc sức khỏe". </p>
                        <!-- Social -->
                        <ul class="social">
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-vimeo"></i></a></li>
                            <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                        </ul>
                        <!-- End Social -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer f-link">
                        <h2>Dịch vụ</h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Trang chủ</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Về chúng tôi</a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Các dịch vụ</a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Bác sĩ</a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Khác</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Tư vấn</a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Tin tức</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Tuyển dụng</a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>Giờ làm việc</h2>
                        <ul class="time-sidual">
                            <li class="day">Thứ hai - Thứ sáu <span>8.00-20.00</span></li>
                            <li class="day">Chủ nhật <span>9.00-18.30</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>Bản tin</h2>
                        <p>Bằng cách nhấn nút Đăng ký hoặc nút gửi thông tin đi, tôi xác nhận đã đọc và đồng ý với các Quy định Chính sách quyền riêng tư</p>
                        <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                            <input name="email" placeholder="Nhập Email" class="common-input"
                                   onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Your email address'" required="" type="email">
                            <button class="button"><i class="icofont icofont-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Footer Top -->
    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="copyright-content">
                        <p>© Copyright 2023 | All Rights Reserved by <a href="https://github.com/hiennguyen2610"
                                                                        target="_blank">hiennguyen2610</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Copyright -->
</footer>
<!--/ End Footer Area -->
<!--  Forgot Password Modal-->
<div th:replace="account/forgot-password-modal :: forgot-password-modal"></div>

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<!-- jquery Min JS -->
<!--<script src="js/jquery.min.js"></script>-->
<!-- jquery Migrate JS -->
<script src="js/jquery-migrate-3.0.0.js"></script>
<!-- jquery Ui JS -->
<script src="js/jquery-ui.min.js"></script>
<!-- Easing JS -->
<script src="js/easing.js"></script>
<!-- Color JS -->
<script src="js/colors.js"></script>
<!-- Popper JS -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap Datepicker JS -->
<script src="js/bootstrap-datepicker.js"></script>
<!-- Jquery Nav JS -->
<script src="js/jquery.nav.js"></script>
<!-- Slicknav JS -->
<script src="js/slicknav.min.js"></script>
<!-- ScrollUp JS -->
<script src="js/jquery.scrollUp.min.js"></script>
<!-- Niceselect JS -->
<script src="js/niceselect.js"></script>
<!-- Tilt Jquery JS -->
<script src="js/tilt.jquery.min.js"></script>
<!-- Owl Carousel JS -->
<script src="js/owl-carousel.js"></script>
<!-- counterup JS -->
<script src="js/jquery.counterup.min.js"></script>
<!-- Steller JS -->
<script src="js/steller.js"></script>
<!-- Wow JS -->
<script src="js/wow.min.js"></script>
<!-- Magnific Popup JS -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- Counter Up CDN JS -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>

<!-- Validate JS-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Login JS-->
<script th:inline="javascript">
    $(document).ready(function () {
        $("#login-form").validate({
            onfocusout: false,
            onkeyup: false,
            onclick: false,
            rules: {
                "email": {
                    required: true,
                    email: true
                },
                "password": {
                    required: true,
                },
                messages: {
                    "email": {
                        required: "Hãy nhập email của bạn",
                        email: "Không đúng định dạng email"
                    },
                    "password": {
                        required: "Hãy nhập password của bạn"
                    }
                }
            }
        })

        $("#signin").click((key, value) => {
            let isValidForm = $("#login-form").valid()
            if (!isValidForm) return
            let loginEmail = $('#email').val()
            let loginPassword = $('#password').val()
            let request = {
                email: loginEmail,
                password: loginPassword,
            }

            $.ajax({
                url: '/api/v1/authentication/login',
                type: 'POST',
                data: JSON.stringify(request),
                contentType: "application/json; charset=utf-8",
                beforeSend: function(xhr) {
                    let jwtToken = localStorage.getItem('jwt');
                    xhr.setRequestHeader('Authorization', `Bearer ${jwtToken}`); // Truyền jwtToken vào tiêu đề
                },
                success: function (data) {
                    console.log(data)
                    localStorage.clear()
                    localStorage.setItem('jwtToken', data.jwt)
                    localStorage.setItem('refreshToken', data.refreshToken)
                    let userInfomation = {
                        email: data.email,
                        userId: data.id,
                        roles: data.roles,
                    }
                    localStorage.setItem('userInfomation', JSON.stringify(userInfomation))
                    toastr.success("Đăng nhập thành công");
                    if (data.roles[0] === "ADMIN") {
                        window.location.href = 'http://localhost:8080/admin/dashboard'
                    }else if (data.roles[0] === "DOCTOR") {
                        window.location.href = 'http://localhost:8080/doctor/appointment'
                    }
                    else if (data.roles[0] === "EMPLOYEE") {
                        window.location.href = 'http://localhost:8080/employee/appointment'
                    }
                    },
                error: function (data) {
                    toastr.error("Mật khẩu hoặc tài khoản không chính xác hoặc chưa được kích hoạt!")
                },
            })
        })

        // Show forgot password modal
        $('.forgot-password-link').click(() => {
            $('#forgot-password-modal').modal('show');
        });

        // Validate form email
        $(".email-reset-form").validate({
            onfocusout: false,
            onkeyup: false,
            onclick: false,
            errorPlacement: function (error, element) {
                error.addClass("error-message");
                error.insertAfter(element);
            },
            rules: {
                "email": {
                    required: true,
                    email: true
                }
            },
            messages: {
                "email": {
                    required: "Enter your email",
                    email: "Incorrect email format"
                }
            }
        });

        console.log()
        $("#submit-reset-modal").click(async event => {
            let isValidForm = $(".email-reset-form").valid();
            if (!isValidForm) {
                return;
            }
            let emailReset = $(".email-reset-form #email").val();
            console.log(emailReset)
            console.log("123")
            let request = {
                email: emailReset
            };
            console.log(request)

            await $.ajax({
                url: "/api/v1/users/otp-sending",
                type: 'POST',
                data: JSON.stringify(request),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#forgot-password-modal').modal('hide');
                    toastr.success("Please check your email!");
                },
                error: function () {
                    toastr.warning("Email not exist or not activated!");
                }
            });
        })
    })
</script>
</body>
</html>